* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

body {
    height: 100vh;
    background-image: url(https://c1.wallpaperflare.com/preview/909/203/687/clock-time-time-clock-hour.jpg);
    background-position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .8);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: rgba(8, 8, 5, .9);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .9);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
}

.relogio span.tempo {
    font-size: 10px;
}